* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/THANKS -text
/VERSION -text
/acinclude.m4 -text
/autogen.sh -text
/config.guess -text
/configure.in -text
include/Makefile.am -text
include/bios.h -text
include/callback.h -text
include/cpu.h -text
include/cross.h -text
include/debug.h -text
include/dma.h -text
include/dos_inc.h -text
include/dos_system.h -text
include/dosbox.h -text
include/fpu.h -text
include/hardware.h -text
include/inout.h -text
include/joystick.h -text
include/keyboard.h -text
include/mem.h -text
include/mixer.h -text
include/modules.h -text
include/mouse.h -text
include/pic.h -text
include/programs.h -text
include/regs.h -text
include/render.h -text
include/setup.h -text
include/support.h -text
include/timer.h -text
include/video.h -text
scripts/ega-switch.pl -text
scripts/font-switch.pl -text
/settings.h.cvs -text
src/Makefile.am -text
src/cpu/Makefile.am -text
src/cpu/callback.cpp -text
src/cpu/core_16/Makefile.am -text
src/cpu/core_16/helpers.h -text
src/cpu/core_16/instructions.h -text
src/cpu/core_16/main.h -text
src/cpu/core_16/prefix_66.h -text
src/cpu/core_16/prefix_66_of.h -text
src/cpu/core_16/prefix_of.h -text
src/cpu/core_16/start.h -text
src/cpu/core_16/stop.h -text
src/cpu/core_16/support.h -text
src/cpu/core_16/table_ea.h -text
src/cpu/cpu.cpp -text
src/cpu/flags.cpp -text
src/cpu/modrm.cpp -text
src/cpu/modrm.h -text
src/cpu/slow_16.cpp -text
src/debug/Makefile.am -text
src/debug/debug.cpp -text
src/debug/debug_disasm.cpp -text
src/debug/debug_gui.cpp -text
src/debug/debug_inc.h -text
src/debug/debug_win32.cpp -text
src/debug/disasm_tables.h -text
src/dos/Makefile.am -text
src/dos/dev_con.h -text
src/dos/dos.cpp -text
src/dos/dos_classes.cpp -text
src/dos/dos_devices.cpp -text
src/dos/dos_execute.cpp -text
src/dos/dos_files.cpp -text
src/dos/dos_ioctl.cpp -text
src/dos/dos_memory.cpp -text
src/dos/dos_misc.cpp -text
src/dos/dos_programs.cpp -text
src/dos/dos_tables.cpp -text
src/dos/drive_local.cpp -text
src/dos/drive_virtual.cpp -text
src/dos/drives.cpp -text
src/dos/drives.h -text
src/dosbox.cpp -text
src/fpu/Makefile.am -text
src/fpu/fpu.cpp -text
src/fpu/fpu_flags.cpp -text
src/fpu/fpu_instructions.h -text
src/fpu/fpu_types.h -text
src/gui/Makefile.am -text
src/gui/render.cpp -text
src/gui/sdlmain.cpp -text
src/hardware/Makefile.am -text
src/hardware/adlib.cpp -text
src/hardware/cmos.cpp -text
src/hardware/dma.cpp -text
src/hardware/ega-switch.h -text
src/hardware/fmopl.c -text
src/hardware/fmopl.h -text
src/hardware/font-switch.h -text
src/hardware/gameblaster.cpp -text
src/hardware/hardware.cpp -text
src/hardware/iohandler.cpp -text
src/hardware/joystick.cpp -text
src/hardware/keyboard.cpp -text
src/hardware/memory.cpp -text
src/hardware/mixer.cpp -text
src/hardware/pcspeaker.cpp -text
src/hardware/pic.cpp -text
src/hardware/sblaster.cpp -text
src/hardware/tandy_sound.cpp -text
src/hardware/timer.cpp -text
src/hardware/vga.cpp -text
src/hardware/vga.h -text
src/hardware/vga_attr.cpp -text
src/hardware/vga_crtc.cpp -text
src/hardware/vga_dac.cpp -text
src/hardware/vga_draw.cpp -text
src/hardware/vga_fonts.cpp -text
src/hardware/vga_gfx.cpp -text
src/hardware/vga_memory.cpp -text
src/hardware/vga_misc.cpp -text
src/hardware/vga_seq.cpp -text
src/ints/Makefile.am -text
src/ints/bios.cpp -text
src/ints/bios_disk.cpp -text
src/ints/bios_keyboard.cpp -text
src/ints/ems.cpp -text
src/ints/int10.cpp -text
src/ints/int10.h -text
src/ints/int10_char.cpp -text
src/ints/int10_memory.cpp -text
src/ints/int10_misc.cpp -text
src/ints/int10_modes.cpp -text
src/ints/int10_pal.cpp -text
src/ints/int10_put_pixel.cpp -text
src/ints/mouse.cpp -text
src/ints/xms.cpp -text
src/misc/Makefile.am -text
src/misc/messages.cpp -text
src/misc/programs.cpp -text
src/misc/setup.cpp -text
src/misc/support.cpp -text
src/platform/Makefile.am -text
src/platform/visualc/Makefile.am -text
src/platform/visualc/config.h -text
src/platform/visualc/dirent.c -text
src/platform/visualc/dirent.h -text
src/platform/visualc/unistd.h -text
src/shell/Makefile.am -text
src/shell/shell.cpp -text
src/shell/shell_batch.cpp -text
src/shell/shell_cmds.cpp -text
src/shell/shell_inc.h -text
src/shell/shell_misc.cpp -text
visualc/Makefile.am -text
visualc/dosbox.dsp -text svneol=unset#application/octet-stream
visualc/dosbox.dsw -text svneol=unset#application/octet-stream
