* text=auto !eol
/AUTHORS svneol=native#text/plain
/COPYING svneol=native#text/plain
/ChangeLog svneol=native#text/plain
/INSTALL svneol=native#text/plain
/Makefile.am svneol=native#text/plain
/NEWS svneol=native#text/plain
/README svneol=native#text/plain
/THANKS svneol=native#text/plain
/VERSION svneol=native#text/plain
/acinclude.m4 svneol=native#text/plain
/autogen.sh svneol=native#text/plain
/configure.ac svneol=native#text/plain
docs/Makefile.am svneol=native#text/plain
docs/PORTING svneol=native#text/plain
docs/README.video svneol=native#text/plain
docs/dosbox.1 svneol=native#text/plain
include/Makefile.am svneol=native#text/plain
include/bios.h svneol=native#text/plain
include/bios_disk.h svneol=native#text/plain
include/callback.h svneol=native#text/plain
include/control.h svneol=native#text/plain
include/cpu.h svneol=native#text/plain
include/cross.h svneol=native#text/plain
include/debug.h svneol=native#text/plain
include/dma.h svneol=native#text/plain
include/dos_inc.h svneol=native#text/plain
include/dos_system.h svneol=native#text/plain
include/dosbox.h svneol=native#text/plain
include/fpu.h svneol=native#text/plain
include/hardware.h svneol=native#text/plain
include/inout.h svneol=native#text/plain
include/ipx.h svneol=native#text/plain
include/ipxserver.h svneol=native#text/plain
include/joystick.h svneol=native#text/plain
include/keyboard.h svneol=native#text/plain
include/logging.h svneol=native#text/plain
include/mapper.h svneol=native#text/plain
include/mem.h svneol=native#text/plain
include/midi.h svneol=native#text/plain
include/mixer.h svneol=native#text/plain
include/modules.h svneol=native#text/plain
include/mouse.h svneol=native#text/plain
include/paging.h svneol=native#text/plain
include/pci_bus.h svneol=native#text/plain
include/pic.h svneol=native#text/plain
include/programs.h svneol=native#text/plain
include/regs.h svneol=native#text/plain
include/render.h svneol=native#text/plain
include/serialport.h svneol=native#text/plain
include/setup.h svneol=native#text/plain
include/shell.h svneol=native#text/plain
include/support.h svneol=native#text/plain
include/timer.h svneol=native#text/plain
include/vga.h svneol=native#text/plain
include/video.h svneol=native#text/plain
scripts/captures.bat svneol=native#text/plain
scripts/dosbox-installer.nsi svneol=native#text/plain
scripts/editconf.bat svneol=native#text/plain
scripts/ega-switch.pl svneol=native#text/plain
scripts/font-switch.pl svneol=native#text/plain
scripts/resetconf.bat svneol=native#text/plain
scripts/resetmapper.bat svneol=native#text/plain
src/Makefile.am svneol=native#text/plain
src/cpu/Makefile.am svneol=native#text/plain
src/cpu/callback.cpp svneol=native#text/plain
src/cpu/core_dyn_x86.cpp svneol=native#text/plain
src/cpu/core_dyn_x86/Makefile.am svneol=native#text/plain
src/cpu/core_dyn_x86/cache.h svneol=native#text/plain
src/cpu/core_dyn_x86/decoder.h svneol=native#text/plain
src/cpu/core_dyn_x86/dyn_fpu.h svneol=native#text/plain
src/cpu/core_dyn_x86/dyn_fpu_dh.h svneol=native#text/plain
src/cpu/core_dyn_x86/helpers.h svneol=native#text/plain
src/cpu/core_dyn_x86/risc_x86.h svneol=native#text/plain
src/cpu/core_dyn_x86/string.h svneol=native#text/plain
src/cpu/core_dynrec.cpp svneol=native#text/plain
src/cpu/core_dynrec/Makefile.am svneol=native#text/plain
src/cpu/core_dynrec/cache.h svneol=native#text/plain
src/cpu/core_dynrec/decoder.h svneol=native#text/plain
src/cpu/core_dynrec/decoder_basic.h svneol=native#text/plain
src/cpu/core_dynrec/decoder_opcodes.h svneol=native#text/plain
src/cpu/core_dynrec/dyn_fpu.h svneol=native#text/plain
src/cpu/core_dynrec/operators.h svneol=native#text/plain
src/cpu/core_dynrec/risc_armv4le-common.h svneol=native#text/plain
src/cpu/core_dynrec/risc_armv4le-o3.h svneol=native#text/plain
src/cpu/core_dynrec/risc_armv4le-thumb-iw.h svneol=native#text/plain
src/cpu/core_dynrec/risc_armv4le-thumb-niw.h svneol=native#text/plain
src/cpu/core_dynrec/risc_armv4le-thumb.h svneol=native#text/plain
src/cpu/core_dynrec/risc_armv4le.h svneol=native#text/plain
src/cpu/core_dynrec/risc_mipsel32.h svneol=native#text/plain
src/cpu/core_dynrec/risc_x64.h svneol=native#text/plain
src/cpu/core_dynrec/risc_x86.h svneol=native#text/plain
src/cpu/core_full.cpp svneol=native#text/plain
src/cpu/core_full/Makefile.am svneol=native#text/plain
src/cpu/core_full/ea_lookup.h svneol=native#text/plain
src/cpu/core_full/load.h svneol=native#text/plain
src/cpu/core_full/loadwrite.h svneol=native#text/plain
src/cpu/core_full/op.h svneol=native#text/plain
src/cpu/core_full/optable.h svneol=native#text/plain
src/cpu/core_full/save.h svneol=native#text/plain
src/cpu/core_full/string.h svneol=native#text/plain
src/cpu/core_full/support.h svneol=native#text/plain
src/cpu/core_normal.cpp svneol=native#text/plain
src/cpu/core_normal/Makefile.am svneol=native#text/plain
src/cpu/core_normal/helpers.h svneol=native#text/plain
src/cpu/core_normal/prefix_0f.h svneol=native#text/plain
src/cpu/core_normal/prefix_66.h svneol=native#text/plain
src/cpu/core_normal/prefix_66_0f.h svneol=native#text/plain
src/cpu/core_normal/prefix_none.h svneol=native#text/plain
src/cpu/core_normal/string.h svneol=native#text/plain
src/cpu/core_normal/support.h svneol=native#text/plain
src/cpu/core_normal/table_ea.h svneol=native#text/plain
src/cpu/core_prefetch.cpp svneol=native#text/plain
src/cpu/core_simple.cpp svneol=native#text/plain
src/cpu/cpu.cpp svneol=native#text/plain
src/cpu/flags.cpp svneol=native#text/plain
src/cpu/instructions.h svneol=native#text/plain
src/cpu/lazyflags.h svneol=native#text/plain
src/cpu/modrm.cpp svneol=native#text/plain
src/cpu/modrm.h svneol=native#text/plain
src/cpu/paging.cpp svneol=native#text/plain
src/debug/Makefile.am svneol=native#text/plain
src/debug/debug.cpp svneol=native#text/plain
src/debug/debug_disasm.cpp svneol=native#text/plain
src/debug/debug_gui.cpp svneol=native#text/plain
src/debug/debug_inc.h svneol=native#text/plain
src/debug/debug_win32.cpp svneol=native#text/plain
src/debug/disasm_tables.h svneol=native#text/plain
src/dos/Makefile.am svneol=native#text/plain
src/dos/cdrom.cpp svneol=native#text/plain
src/dos/cdrom.h svneol=native#text/plain
src/dos/cdrom_aspi_win32.cpp svneol=native#text/plain
src/dos/cdrom_image.cpp svneol=native#text/plain
src/dos/cdrom_ioctl_linux.cpp svneol=native#text/plain
src/dos/cdrom_ioctl_os2.cpp svneol=native#text/plain
src/dos/cdrom_ioctl_win32.cpp svneol=native#text/plain
src/dos/dev_con.h svneol=native#text/plain
src/dos/dos.cpp svneol=native#text/plain
src/dos/dos_classes.cpp svneol=native#text/plain
src/dos/dos_codepages.h svneol=native#text/plain
src/dos/dos_devices.cpp svneol=native#text/plain
src/dos/dos_execute.cpp svneol=native#text/plain
src/dos/dos_files.cpp svneol=native#text/plain
src/dos/dos_ioctl.cpp svneol=native#text/plain
src/dos/dos_keyboard_layout.cpp svneol=native#text/plain
src/dos/dos_keyboard_layout_data.h svneol=native#text/plain
src/dos/dos_memory.cpp svneol=native#text/plain
src/dos/dos_misc.cpp svneol=native#text/plain
src/dos/dos_mscdex.cpp svneol=native#text/plain
src/dos/dos_programs.cpp svneol=native#text/plain
src/dos/dos_tables.cpp svneol=native#text/plain
src/dos/drive_cache.cpp svneol=native#text/plain
src/dos/drive_fat.cpp svneol=native#text/plain
src/dos/drive_iso.cpp svneol=native#text/plain
src/dos/drive_local.cpp svneol=native#text/plain
src/dos/drive_virtual.cpp svneol=native#text/plain
src/dos/drives.cpp svneol=native#text/plain
src/dos/drives.h svneol=native#text/plain
src/dos/scsidefs.h svneol=native#text/plain
src/dos/wnaspi32.h svneol=native#text/plain
src/dosbox.cpp svneol=native#text/plain
src/dosbox.ico -text svneol=unset#image/x-icon
src/fpu/Makefile.am svneol=native#text/plain
src/fpu/fpu.cpp svneol=native#text/plain
src/fpu/fpu_instructions.h svneol=native#text/plain
src/fpu/fpu_instructions_x86.h svneol=native#text/plain
src/gui/Makefile.am svneol=native#text/plain
src/gui/dosbox_logo.h svneol=native#text/plain
src/gui/dosbox_splash.h svneol=native#text/plain
src/gui/midi.cpp svneol=native#text/plain
src/gui/midi_alsa.h svneol=native#text/plain
src/gui/midi_coreaudio.h svneol=native#text/plain
src/gui/midi_coremidi.h svneol=native#text/plain
src/gui/midi_oss.h svneol=native#text/plain
src/gui/midi_win32.h svneol=native#text/plain
src/gui/render.cpp svneol=native#text/plain
src/gui/render_loops.h svneol=native#text/plain
src/gui/render_scalers.cpp svneol=native#text/plain
src/gui/render_scalers.h svneol=native#text/plain
src/gui/render_simple.h svneol=native#text/plain
src/gui/render_templates.h svneol=native#text/plain
src/gui/render_templates_hq.h svneol=native#text/plain
src/gui/render_templates_hq2x.h svneol=native#text/plain
src/gui/render_templates_hq3x.h svneol=native#text/plain
src/gui/render_templates_sai.h svneol=native#text/plain
src/gui/sdl_gui.cpp svneol=native#text/plain
src/gui/sdl_mapper.cpp svneol=native#text/plain
src/gui/sdlmain.cpp svneol=native#text/plain
src/hardware/Makefile.am svneol=native#text/plain
src/hardware/adlib.cpp svneol=native#text/plain
src/hardware/adlib.h svneol=native#text/plain
src/hardware/cmos.cpp svneol=native#text/plain
src/hardware/dbopl.cpp svneol=native#text/plain
src/hardware/dbopl.h svneol=native#text/plain
src/hardware/disney.cpp svneol=native#text/plain
src/hardware/dma.cpp svneol=native#text/plain
src/hardware/gameblaster.cpp svneol=native#text/plain
src/hardware/gus.cpp svneol=native#text/plain
src/hardware/hardware.cpp svneol=native#text/plain
src/hardware/iohandler.cpp svneol=native#text/plain
src/hardware/ipx.cpp svneol=native#text/plain
src/hardware/ipxserver.cpp svneol=native#text/plain
src/hardware/joystick.cpp svneol=native#text/plain
src/hardware/keyboard.cpp svneol=native#text/plain
src/hardware/mame/emu.h -text
src/hardware/mame/fmopl.cpp -text
src/hardware/mame/fmopl.h -text
src/hardware/mame/saa1099.cpp -text
src/hardware/mame/saa1099.h -text
src/hardware/mame/sn76496.cpp -text
src/hardware/mame/sn76496.h -text
src/hardware/mame/ymdeltat.cpp -text
src/hardware/mame/ymdeltat.h -text
src/hardware/mame/ymf262.cpp -text
src/hardware/mame/ymf262.h -text
src/hardware/memory.cpp svneol=native#text/plain
src/hardware/mixer.cpp svneol=native#text/plain
src/hardware/mpu401.cpp svneol=native#text/plain
src/hardware/opl.cpp svneol=native#text/plain
src/hardware/opl.h svneol=native#text/plain
src/hardware/pci_bus.cpp svneol=native#text/plain
src/hardware/pci_devices.h svneol=native#text/plain
src/hardware/pcspeaker.cpp svneol=native#text/plain
src/hardware/pic.cpp svneol=native#text/plain
src/hardware/sblaster.cpp svneol=native#text/plain
src/hardware/serialport/Makefile.am svneol=native#text/plain
src/hardware/serialport/directserial.cpp svneol=native#text/plain
src/hardware/serialport/directserial.h svneol=native#text/plain
src/hardware/serialport/libserial.cpp svneol=native#text/plain
src/hardware/serialport/libserial.h svneol=native#text/plain
src/hardware/serialport/misc_util.cpp svneol=native#text/plain
src/hardware/serialport/misc_util.h svneol=native#text/plain
src/hardware/serialport/nullmodem.cpp svneol=native#text/plain
src/hardware/serialport/nullmodem.h svneol=native#text/plain
src/hardware/serialport/serialdummy.cpp svneol=native#text/plain
src/hardware/serialport/serialdummy.h svneol=native#text/plain
src/hardware/serialport/serialport.cpp svneol=native#text/plain
src/hardware/serialport/softmodem.cpp svneol=native#text/plain
src/hardware/serialport/softmodem.h svneol=native#text/plain
src/hardware/tandy_sound.cpp svneol=native#text/plain
src/hardware/timer.cpp svneol=native#text/plain
src/hardware/vga.cpp svneol=native#text/plain
src/hardware/vga_attr.cpp svneol=native#text/plain
src/hardware/vga_crtc.cpp svneol=native#text/plain
src/hardware/vga_dac.cpp svneol=native#text/plain
src/hardware/vga_draw.cpp svneol=native#text/plain
src/hardware/vga_gfx.cpp svneol=native#text/plain
src/hardware/vga_memory.cpp svneol=native#text/plain
src/hardware/vga_misc.cpp svneol=native#text/plain
src/hardware/vga_other.cpp svneol=native#text/plain
src/hardware/vga_paradise.cpp svneol=native#text/plain
src/hardware/vga_s3.cpp svneol=native#text/plain
src/hardware/vga_seq.cpp svneol=native#text/plain
src/hardware/vga_tseng.cpp svneol=native#text/plain
src/hardware/vga_xga.cpp svneol=native#text/plain
src/ints/Makefile.am svneol=native#text/plain
src/ints/bios.cpp svneol=native#text/plain
src/ints/bios_disk.cpp svneol=native#text/plain
src/ints/bios_keyboard.cpp svneol=native#text/plain
src/ints/ems.cpp svneol=native#text/plain
src/ints/int10.cpp svneol=native#text/plain
src/ints/int10.h svneol=native#text/plain
src/ints/int10_char.cpp svneol=native#text/plain
src/ints/int10_memory.cpp svneol=native#text/plain
src/ints/int10_misc.cpp svneol=native#text/plain
src/ints/int10_modes.cpp svneol=native#text/plain
src/ints/int10_pal.cpp svneol=native#text/plain
src/ints/int10_put_pixel.cpp svneol=native#text/plain
src/ints/int10_vesa.cpp svneol=native#text/plain
src/ints/int10_video_state.cpp svneol=native#text/plain
src/ints/int10_vptable.cpp svneol=native#text/plain
src/ints/mouse.cpp svneol=native#text/plain
src/ints/xms.cpp svneol=native#text/plain
src/ints/xms.h svneol=native#text/plain
src/libs/Makefile.am svneol=native#text/plain
src/libs/gui_tk/Doxyfile svneol=native#text/plain
src/libs/gui_tk/Makefile.am svneol=native#text/plain
src/libs/gui_tk/gui_tk.cpp svneol=native#text/plain
src/libs/gui_tk/gui_tk.h svneol=native#text/plain
src/libs/zmbv/Makefile.am svneol=native#text/plain
src/libs/zmbv/drvproc.cpp svneol=native#text/plain
src/libs/zmbv/resource.h svneol=native#text/plain
src/libs/zmbv/zmbv.cpp svneol=native#text/plain
src/libs/zmbv/zmbv.def svneol=native#text/plain
src/libs/zmbv/zmbv.h svneol=native#text/plain
src/libs/zmbv/zmbv.inf svneol=native#text/plain
src/libs/zmbv/zmbv.sln svneol=native#text/plain
src/libs/zmbv/zmbv.vcproj svneol=native#text/plain
src/libs/zmbv/zmbv_vfw.cpp svneol=native#text/plain
src/libs/zmbv/zmbv_vfw.h svneol=native#text/plain
src/libs/zmbv/zmbv_vfw.rc svneol=native#text/plain
src/misc/Makefile.am svneol=native#text/plain
src/misc/cross.cpp svneol=native#text/plain
src/misc/messages.cpp svneol=native#text/plain
src/misc/programs.cpp svneol=native#text/plain
src/misc/setup.cpp svneol=native#text/plain
src/misc/support.cpp svneol=native#text/plain
src/platform/Makefile.am svneol=native#text/plain
src/platform/sdl-win32.diff svneol=native#text/plain
src/platform/visualc/Makefile.am svneol=native#text/plain
src/platform/visualc/config.h svneol=native#text/plain
src/platform/visualc/ntddcdrm.h svneol=native#text/plain
src/platform/visualc/ntddscsi.h svneol=native#text/plain
src/platform/visualc/unistd.h svneol=native#text/plain
src/shell/Makefile.am svneol=native#text/plain
src/shell/shell.cpp svneol=native#text/plain
src/shell/shell_batch.cpp svneol=native#text/plain
src/shell/shell_cmds.cpp svneol=native#text/plain
src/shell/shell_misc.cpp svneol=native#text/plain
src/winres.rc svneol=native#text/plain
visualc_net/Makefile.am svneol=native#text/plain
visualc_net/dosbox.sln svneol=native#text/plain
visualc_net/dosbox.vcproj svneol=native#text/plain
