/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
docs/.deps
docs/Makefile
docs/Makefile.in
include/.deps
include/Makefile
include/Makefile.in
/install-sh
/missing
/mkinstalldirs
src/.deps
src/Makefile
src/Makefile.in
src/cpu/.deps
src/cpu/Makefile
src/cpu/Makefile.in
src/cpu/core_dyn_x86/.deps
src/cpu/core_dyn_x86/Makefile
src/cpu/core_dyn_x86/Makefile.in
src/cpu/core_dynrec/.deps
src/cpu/core_dynrec/Makefile
src/cpu/core_dynrec/Makefile.in
src/cpu/core_full/.deps
src/cpu/core_full/Makefile
src/cpu/core_full/Makefile.in
src/cpu/core_normal/.deps
src/cpu/core_normal/Makefile
src/cpu/core_normal/Makefile.in
src/debug/.deps
src/debug/Makefile
src/debug/Makefile.in
src/dos/.deps
src/dos/Makefile
src/dos/Makefile.in
src/dosbox
src/fpu/.deps
src/fpu/Makefile
src/fpu/Makefile.in
src/gui/.deps
src/gui/Makefile
src/gui/Makefile.in
src/hardware/.deps
src/hardware/Makefile
src/hardware/Makefile.in
src/hardware/serialport/.deps
src/hardware/serialport/Makefile
src/hardware/serialport/Makefile.in
src/ints/.deps
src/ints/Makefile
src/ints/Makefile.in
src/libs/.deps
src/libs/Makefile
src/libs/Makefile.in
src/libs/gui_tk/.deps
src/libs/gui_tk/Makefile
src/libs/gui_tk/Makefile.in
src/libs/zmbv/.deps
src/libs/zmbv/Makefile
src/libs/zmbv/Makefile.in
src/misc/.deps
src/misc/Makefile
src/misc/Makefile.in
src/platform/.deps
src/platform/Makefile
src/platform/Makefile.in
src/platform/visualc/.deps
src/platform/visualc/Makefile
src/platform/visualc/Makefile.in
src/shell/.deps
src/shell/Makefile
src/shell/Makefile.in
/stamp-h1
visualc_net/.deps
visualc_net/Debug
visualc_net/Makefile
visualc_net/Makefile.in
visualc_net/Release
