/* this src is written under the terms of the GPL-licence, see gpl.txt for futher details */
body {
    background-image: url( site_images/background.png );
    background-color: rgb( 15, 56, 114 );
    background-position: 40px 155px;
    background-repeat: repeat-y;
    color: white;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#logo {
    background-image: url( site_images/upper_logo.png );
    background-color: black;
    background-position: 0 0 ;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 101px;
    border-bottom: 1px solid white;
    margin: 0 0 3px;
    color: black;
    text-align: right;
}

#menu {
    font-family: sans-serif;
    display: inline;
    padding: 0;
    margin: 0 1.3em 1.3em;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 0.5em;
    font-weight: bold;
    letter-spacing: -0.5px;
}

#menu a {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.indent {
    margin-left: 2.5em;
}

.top {
    vertical-align: top;
}
